$purple-dark: #412c5a;
$silver: #cecece;

$primary: $purple-dark;
$secondary: $silver;

$carousel-control-color: gold;
$carousel-indicator-active-bg: gold;
$carousel-caption-color: gold;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
