@use "../custom" as *;
@use "../components/mixins" as *;

.about-me {
  background-color: #cecece;
  padding: 10rem 0 10rem 0;
  width: 100%;
  height: 100%;

  p {
    font-family: Aquire;
    font-size: x-large;
    font-weight: 700;
  }

  img {
    height: 500px;
  }
}
