@use "../custom" as *;
@use "../components/mixins" as *;

.footer {
  @include gradient;
  padding-top: 1rem;
  background-color: black;

  .contact-box {
    font-family: Aquire;
    color: gold;
    position: relative;

    &__icon {
      width: 4rem;
      stroke: gold;

      @include media-breakpoint-up(sm) {
        width: 4rem;
      }
    }

    &__info {
      padding: 0.4rem;
      font-weight: 500;
      &--title {
        font-size: 1rem;
        color: gold;
        text-decoration: none;

        @include media-breakpoint-up(sm) {
          font-size: 1.4rem;
        }
      }
      &--subtitle {
        font-size: 0.9rem;
        color: gold;
        text-decoration: none;

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }
      }
    }
  }
}
