@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;

  a {
    padding: 0 0.7rem;
    color: gold;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Aquire", sans-serif;
  }
}
